/* Gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0px;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #353D41;   
}

.navbar-nav a {
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    width: 100px;
    transition: .2s ease-in-out;
    
}

.navbar-nav a:hover {
    background-color: #65DAF9;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

#navbar-links a {
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */
.container-fluid {
    padding: 0;
}

#mainSlider, .carousel-inner, #mainSlider, .carousel-item {
    height: 90vh;
}

#mainSlider, .carousel-caption {
    top: 30%;
}

.carousel-caption > h2 {
    font-size: 50px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.main-btn {
    background-color: #65DAF9;
    border: 3px solid transparent;
    border-radius: 30px;
    color: #fff;
    height: 60px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 200px;
    transition: .5s;
}

.main-btn:hover {
    background-color: transparent;
    border-color: #65DAF9;
    color: #fff;
    text-decoration: none;
}

.carousel-indicators .active {
    background-color: #65DAF9;
}

/* Sobre a empresa */
about-area {
    background-color: #f9f9f9;
}

.main-title {
    color: #444;
    font-size: 40px;
    margin: 0 0 65px 0;
    text-align: center;
}

.main-title::after {
    border-top: 2px solid #333;
    content: "";
    left: 42.5%;
    position: absolute;
    top: 60px;
    width: 15%;
}

.about-title {
    color: #444;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 5px;
}

/* Serviços */
.service-box {
    margin-bottom: 50px;
    text-align: center;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    color: #444;
    font-size: 36px;
    margin-bottom: 20px;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #65DAF9;
}

/* Dados */
.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #fff;
    font-size: 26px;
    margin-top: 20px;
    text-align: center;
}

/* Time  */
.card-body {
    text-align: center;
}

/* Trabalhe conosco  */
#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #fff;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    background-color: transparent;
    border-color: #FFF;
    color: #fff;
    display: block;
    height: auto;
    margin: auto;
    margin-top: 30px;
    width: 180px;
}

#apply-btn:hover {
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* Portfolio */
.project-box {
    margin-bottom: 30px;
}

#filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area, .filter-btn {
    background-color: transparent;
    border: 1px solid #444;
    color: #444;
    height: 40px;
    line-height: 40px;
    margin: 0px 15px;
    min-width: 100px;
    padding: 0px 20px;
    text-transform: none;
    width: auto;
}

#portfolio-area, .filter-btn.active, 
#portfolio-area, .filter-btn:hover {
    color: #fff;
    background-color: #65DAF9;
    border-color: #65DAF9;
}

/* Newsletter */
#news-area {
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p {
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65DAF9;
    box-sizing: border-box;
    display: inline;
    height: 40px;
    width: 40%;
}

#news-btn {
    background-color: #65DAF9;
    border: 1px solid #65DAF9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFF;
    height: 40px;
    margin-left: -130px;
    padding: 0 30px;
    position: absolute;
    text-transform: uppercase;
    transition: .5s;
}

#news-btn:hover {
    background-color: #FFF;
    color: #65DAF9;
}

/* Call to action */
#call-area {
    background-color: #65DAF9;
    text-transform: uppercase;
}

#call-area .container {
    padding: 40px 100px;
}

#call-area .row {
    display: block;
    text-align: center;
}

#call-area p {
    color: #fff;
    display: inline;
    letter-spacing: 2px;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    margin-bottom: 0;
    width: auto;
}

#call-area #call-btn {
    background-color: #FFF;
    color: #65DAF9;
    font-size: 20px;
    font-weight: bold;
    margin-left: 30px;
    letter-spacing: 2px;
    width: auto;
}

/* Footer  */
#contact-area {
    text-align: center;
}

.contact-box {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3EC1D5;
}

.contact-box i {
    border: 1px solid #444;
    border-radius: 50%;
    color: #444;
    font-size: 24px;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    width: 55px;
}

.contact-box p {
    font-size: 16px;
}

.contact-title {
    font-weight: bold;
    color: #3EC1D5;
}

#msg-box p {
    font-size: 22px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn {
    height: 50px;
    width: 120px;
}

#contact-form .main-btn:hover {
    color: #3EC1D5;
}

/* Copy */
#copy-area {
    background-color: #f1f1f1;
}

#copy-area .container {
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p {
    margin-bottom: 0;
}

#copy-area .container a {
    color: #444;
    font-weight: bold;
    transition: .2s;
}

#copy-area .container a:hover {
    color: #3EC1D5;
    text-decoration: none;
}

/* Responsivo */

/* Tablet  */
@media screen and (max-width: 834px) {
    /* geral */
    .container {
        padding: 20px 0;
    }

    /* Slider  */
    #mainSlider, .carousel-inner, 
    #mainSlider, .carousel-item {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 36px;
    }

    #mainSlider .carousel-caption p {
        font-size: 22px;
        margin-bottom: 25px;
    }

    .carousel-caption {
        left: 10%;
        right: 10%;
        top: 15%;
    }

    /* About  */
    #about-area img {
        margin-top: 180px;
    }

    #about-area .about-title {
        font-size: 22px;
    }

    #about-area p {
        font-size: 18px;
    }

    #about-area li {
        font-size: 18px;
    }

    /* Serviços  */
    .service-box p {
        font-size: 18px;
    }

    /* Dados  */
    .circle-box div {
        padding: 0 10px;
    }

    #data-area p {
        font-size: 16px;
    }

    /* Trabalhe Conosco  */
    #apply-area .apply-box {
        padding: 50px 25px;
    }

    #apply-area p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    /* Newsletter  */
    #news-area p {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    #email-input {
        width: 70%;
    }

    #call-area {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #call-area .container {
        padding: 30px;
    }

    #call-area p, #call-area #call-btn {
        font-size: 16px;
    }
}

/* Mobile  */
@media screen and (max-width: 429px) {
    /* Slider  */
    #mainSlider .carousel-caption h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    #mainSlider .carousel-caption p {
        display: none;
    }

    #mainSlider .main-btn {
        font-size: 14px;
    }

    /* Sobre  */
    .main-title {
        font-size: 30px;
    }

    #about-area img {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    #about-area li {
        font-size: 16px;
    }

    /* Dados  */
    .circle-box {
        width: 50%;
    }

    /* Time  */
    #team-area .col-md-3 {
        width: 50%;
        margin-bottom: 30px;
    }

    /* Trabalhe Conosco  */
    #aply-area {
        height: auto;
    }

    #company-img {
        display: none;
    }

    
}